.main {
  /* border: 3px solid green; */
  display: flex;
  /* flex-direction: column; */
  height: 100%;
  /* padding-top: 2rem */
}

#main-content {
  /* background-color: #FFE096; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  float: left; */
  /* border: 3px dotted darkblue; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  min-width: 80vw;
  word-wrap: break-word;
  flex-grow: 1;
}

#main-content section {
  /* border: 2px solid purple; */
  padding-bottom: 1em;
  padding-top: 1em;
}

#main-content section h1 {
  font-weight: bolder;
  font-size: 2.5em;
  background-color: antiquewhite;
}

.main-article {
  /* border: 4px dotted cyan; */
}

.main-article h2 {
  font-size: 1.5em;
}

.main-article h3 {
  font-size: 1em;
  font-style: italic;
  font-weight: 300;
}

#article-1, #article-3, #article-5 {
  /* background-color: */
  position: relative;
  left: 100%;
}

#article-2, #article-4 {
  /* background-color: */
  position: relative;
  right: 100%;
}

@keyframes slideRight {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

@keyframes slideLeft {
  from {
    right: 100%;
  }
  to {
    right: 0;
  }
}

#article-1, #article-3, #article-5 {
  animation: slideRight 1.5s forwards;
}

#article-2, #article-4 {
  animation: slideLeft 1.5s forwards;
}

.ul-experience {
  padding-left: 1.5em;
  list-style-type: disc;
}