* {
  font-family: 'Montserrat', sans-serif;
}

body {
  border: 2px solid red;
  padding: 0;
  margin: 0;
}

.header {
  border: 2px dotted green;
  /* position: relative; */
  margin-block-start: 20px;
}

/* .header nav {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
} */

.left-sidebar {
  width: 20%;
  background-color: lightgray;
}

.right-sidebar {
  width: 20%;
  background-color: lightgray;
}