:root {
  --primary-color: #0b3f47;
  --secondary-color: #ffffff;
  font-family: 'Open Sans';
  line-height: 1.5;
}

p {
  font-family: 'Bitter', sans-serif;
}

dialog {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  text-align: center;
}

dialog button {
  margin-top: 2rem;
}

ul {
  list-style-type: none;
}

#list-posts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  text-align: center;
}

#list-posts li {
  border: 2px solid var(--primary-color); 
  padding: 1.2rem;
}